* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
}

nav {
  width: 100%;
  height: 80px;
  background-color: whitesmoke;
  .logo {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    left: 50px;
    line-height: 80px;
  }
  span{
      font-weight: lighter;
  }
  .menu {
      line-height: 80px;
      position: absolute;
      left: 400px;
      text-transform: uppercase;
  }
  ul {
    display: flex;
  }
  li {
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    font-weight: bold;
    font-size: 14;
  }
  .social{
      position: absolute;
      right: 50px;
      line-height: 80px;
  }


  ion-icon{
      font-size: 30px;
      color: black;
      margin-left: 10px;
  }

}
section{
    .title{
        position: absolute;
        left:50px;
        top:250px;
    }
    .subtext{
        display: flex;
        align-items: center;
        h2{
            font-size: 25px;
            font-weight: bold;
            margin-right: 10px;
            margin-left: 10px;
        }
        .stroke{
            width: 70px;
            height:1.0px;
            background-color: #EF1A45;
            margin-bottom: 10px;
            
        }
    
    }
    h1{
        font-size: 120px;
        text-transform: uppercase;
        font-weight: bolder;
        color: #EF1A45;
        letter-spacing: 1.2px;
        margin-top:-20px;
    }
    .descr{
        position: absolute;
        left:50px;
        top:600px;
        ul{
            list-style: none;
            li{
                padding: 10px;
                text-transform: uppercase;
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .buttons{
        position: absolute;
        left: 50px;
        bottom: 50px;
        display: flex;
        .button1{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: #EF1A45;
            border-radius: 50%;
            margin-right: 20px;
            ion-icon{
                font-size: 25px;
                color: white;
            }

        }
        .button2{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: gray;
            border-radius: 50%;
            ion-icon{
                font-size: 25px;
                color: white;
            }
        }
    }
    .bigimage{
        position: absolute;
        left: 400px;
        width: 1470px;
        height: 820px;
        background-image: url(img/vulkan.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        h1{
            font-size: 50px;
            color: white;
            position: absolute;
            bottom: 40px;
            right: 20px;
        }
        .box{
            display: flex;
            align-items: center;
            width: 300px;
            height: 80px;
            background-color:#EF1A45;
            position: absolute;
            right: 20px;
            bottom: -40px;
            .stroke{
                height: 1px;
                width: 60px;
                background-color:rgba(255,255,255,0.3);
                margin-bottom: 10px;
            }
            h2{
                font-size: 18px;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
                line-height: 80px;
                padding: 20px;
            }
            .subnumber{
                position: absolute;
                right: 10px;
            }
        }
    }
  
    .smallimage{
        position: absolute;
        left: 300px;
        bottom: 100px;
        width: 200px;
        height: 200px;
        background-image: url(img/vulkan.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

